body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #002f4b, #dc4225);
    color: white;
}

.screen {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

#home-screen,
#info-screen {
    display: flex;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
}

button {
    background-color: #ffffff;
    color: #002f4b;
    border: none;
    padding: 15px 25px;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #f2f2f2;
}


#tourFrame {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

